extends layout

block content

  style(type="text/css").
    .anexo{
      border:1px solid;
      padding:2px 12px;
      border-radius:4px;
      cursor:pointer;
    }
    
    body{
      background: rgba(236, 239, 241, 0.31)
    }
  
  script(type="text/javascript").
  
    $(document).ready(function(){
    
      
    });

  div(id='app')
    nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          a.navbar-brand(href='#') 
            span(style="padding:5px 20px;border-radius:3px;background:#424242") Presta Contas
        ul.nav.navbar-nav
          li.active
            a(href='#') Home
          li
            a(href='#') Lista de Prestações de Contas
          li
            a(href='#') 
        form.navbar-form.navbar-left
          .form-group
            input.form-control(type='text', placeholder='Search' id="pesquisar_vereador")
          button.btn.btn-default(type='submit') Pesquisar
    div(style="border:1px solid;box-shadow:1px 1px 1px;border-radius:3px;background:rgba(74, 91, 185, 0.11);padding:7px")
      h4 Prestações de Contas

    input(type="button" value="Exportar CSV" id="btn_exportar_csv" style="float:right;margin-top:10px;background:rgb(25, 154, 171)" class="btn btn-primary")
    table(id="lista_prestacoes" class="table table-striped table-hover" style="margin-top:10px")
